<!-- Area do rodapé -->
  <footer class="py-4 mt-5 bg-azul">
    <div class="container text-light text-center">
      
      <p class="display-6 mb-3"> Entre em contato conosco</p>
      <div class="row">
        <img src="./img/computador.png" class="logo" alt="">
        <div class="col">
         
          Ligue para: (21)98755321
        </div>
        <div class="col">
          E-mail FronteEnders2020@gmail.com

        </div>
        <div class="col">
          Localização Av. Presidente Vargas 000
        </div>
      </div>
      <br>
      <small class="text-white-50">&copy;Copyright by FrontEnders. All Rights reserved</small>
    </div>
  </footer> 