<!-- Area do rodapé -->
  <footer class=" ">
    <div class="container  text-center">
      
      <p class="display-6 mb-3"> Sistema de Cadastro Petlândia</p>
      <div class="row">
        <img src="/img/logo-footer.png" class="logo-footer" alt="">
        <div class="col">
         
          Ligue para: (21)98755321
        </div>
        <div class="col">
          E-mail: petlandiaveterinaria@gmail.com

        </div>
        <div class="col">
          Localização Av. Presidente Vargas 000
        </div>
      </div>
      <br>
      <small class="">&copy;Copyright by Petlândias. All Rights reserved</small>
    </div>
  </footer> 