<div class="container padding-top">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title">Busca de Consultas</h1>
          <form action="/resultadoconsulta" method="POST">
            <div class="form-group">
              <label for="pet">Nome do pet</label>
              <input
                type="text"
                name="pet"
                class="form-control shadow"
                placeholder="Digite o nome do pet"
              />
            </div>

            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>