<h1>Busca de Pets por Nome</h1>
    <hr>
    <form action="/resultadopet/" method="post">
        
            <input type="text" name="nome_pet" id="id" placeholder="Digite o nome do pet">
              
        <input type="submit" value="Buscar">
    </form>


