    <hr>
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Busca de clientes cadastrados</h1>
                    <form action="/resultadocliente/" method="POST">
                        <div class="form-group">
                            <label for="cliente">Nome do cliente</label>
                            <input type="text" name="nome_cliente" class="form-control shadow" id="input1"
                                placeholder="Digite o nome do cliente">
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>