<div class="container padding-top">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Editar Clientes</h1>
                    <form action="/controlecliente/updatecliente" method="POST">
                        <div class="form-control">
                            <label for="nome_cliente">Nome do Cliente:</label>
                            <input type="text" name="nome_cliente" placeholder="Digite o nome do cliente"
                              class="form-control shadow"  value="{{cliente.nome_cliente}}">
                        </div>
                        <div class="form-control">
                            <label for="nome_pet">Nome do Pet:</label>
                            <input type="text" name="nome_pet" placeholder="Digite o nome do Pet"
                              class="form-control shadow"  value="{{cliente.nome_pet}}">
                        </div>
                        <div class="form-control">
                            <label for="cpf">Digite o CPF:</label>
                            <input type="number" name="cpf" placeholder="Digite o CPF do cliente"
                             class="form-control shadow"   value="{{cliente.cpf}}">
                        </div>
                        <div class="form-control">
                            <label for="telefone">Digite o telefone:</label>
                            <input type="number" name="telefone" class="form-control shadow" placeholder="Digite o telefone do cliente"
                                value="{{cliente.telefone}}">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>