<div class="container padding-top">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Editar Cadastro da Consulta do Pet: </h1>
                    <form action="/controleconsulta/updateconsulta" method="POST">
                        <div class="form-control">
                            <input type="hidden" name="id" id="id" value="{{consulta.id}}">
                            <label for="pet">Nome do Pet:</label>
                            <input type="text" name="pet" placeholder="Digite o nome do pet" class="form-control shadow" value="{{consulta.pet}}">
                        </div>
                        <div class="form-control">
                            <label for="nome_vet">Especifique o nome do Veterinário</label>
                            <input type="text" name="nome_vet" placeholder="Digite o nome do veterinário"
                              class="form-control shadow"  value="{{consulta.nome_vet}}">
                        </div>
                        <div class="form-control">
                            <label for="dono_pet">Nome do Dono do Pet</label>
                            <input type="text" name="dono_pet" placeholder="Digite o nome do Dono"
                             class="form-control shadow"   value="{{consulta.dono_pet}}">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Editar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


