<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Editar Veterinário</h1>
                    <form action="/controlevet/updatevet" method="POST">
                        <div class="form-control">
                            <label for="nome">Nome do veterinario:</label>
                            <input type="text" name="nome" placeholder="Digite o nome do veterinario"
                             class="form-control shadow"   value="{{veterinario.nome}}">
                        </div>
                        <div class="form-control">
                            <label for="crmv">Crmv do veterinario:</label>
                            <input type="text" name="crmv" placeholder="Digite o crmv do veterinario"
                             class="form-control shadow"   value="{{veterinario.crmv}}">
                        </div>
                        <div class="form-control">
                            <label for="telefone">Telefone do veterinario:</label>
                            <input type="text" name="telefone" placeholder="Digite o telefone do veterinario"
                             class="form-control shadow"   value="{{veterinario.telefone}}">
                        </div>
                        <div class="form-control">
                            <label for="email">Email do veterinario:</label>
                            <input type="text" name="email" placeholder="Digite o email do veterinario"
                             class="form-control shadow"   value="{{veterinario.email}}">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Editar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>