<h1>Controle de Pets</h1>
    <hr>
    <form action="controlepet/insertpet" method="POST">
        <div class="form-control">
            <input type="hidden" name="id" id="id">
            <label for="nome">Nome do Pet:</label>
            <input type="text" name="nome_pet" placeholder="Digite o nome do pet">
        </div>

        <div class="form-control">
            <input type="hidden" name="id" id="id">
            <label for="nome">Nome do Dono:</label>
            <input type="text" name="nome_dono" placeholder="Digite o nome do cliente">
        </div>

        <div class="form-control">
            <input type="hidden" name="id" id="id">
            <label for="nome">Raça do Pet:</label>
            <input type="text" name="raca" placeholder="Digite a raça do pet">
        </div>


         <div class="form-control">
            <label for="quant">Idade do Pet:</label>
            <input type="number" name="idade" placeholder="Digite a idade do pet">
        </div>

        <div class="form-control">
            <label for="quant">Peso do Pet:</label>
            <input type="number" name="peso" placeholder="Digite o peso do pet">
        </div>
    
        <input type="submit" value="Cadastrar">
    </form>

