<h1 class="centralizar">Lista dos Veterinarios</h1>
<table class="table">
    {{#each listarVeterinario}}
    <thead>
        <tr>
            <th>Nome</th>
            <th>Crmv</th>
            <th>Telefone</th>
            <th>Email</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{nome}}</td>
            <td>{{crmv}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>